//=== Form ===
#ContactForm .SubmitButtonContactContainer
{
  margin-right: 40px;
}

//=== Footer ===
.ComponentFooterB .content.A, .ComponentFooterB .content.B, .ComponentFooterB .content.C, .ComponentFooterB .content.D
{
  margin: 20px auto;
}

//===
.FooterBanner
{
  min-height: 160px;
}

